body
{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
.btn
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("img/btn.png") 0px 0px;
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 200;
	display: none;
	border: 2px solid white;
}

.szare
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #d8d8d8;
}
.granat
{
	background-color: #002c69;
	color: #d8d8d8;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*NAWIGACJA-MENU*/
#nawigacja
{
	padding-bottom: 0px;
	padding-top: 0px;
}
a.navbar-brand
{
	margin-right: 0px;
	
}
#pasek-menu
{
	background-color: #d8d8d8;
	width: 100%;
	position: fixed;
	z-index: 100;
	border-bottom: 2px solid #8b8b8b;
}
ul > li.nav-item
{
	background-color: #002c69;
	margin-right: 3px;
	margin-bottom: 3px;
	border: 2px solid #8b8b8b;
	border-radius: 10px;
}

/*KARUZELA*/
.carousel-inner img 
{
	width: 100%;
	height: 100%;
}
#karuzela
{
	padding-top: 92px;
	padding-bottom: 10px;
	background-color: #002c69;
}
 
/*O FIRMIE*/
#img_o_firmie
{
	width: 100%;
	border: 2px solid #cccccc;
	border-radius: 10px;
	box-shadow: 5px 5px 13px gray;
	
}
/*OFERTA*/
.card-body
{
	color: black;
	background-color: #d8d8d8;
}

/*KONTAKT*/
iframe
{
	border: 2px solid #cccccc;
	min-height: 400px;
}
.ikony_kontakt
{
	font-size: 48px;
}
.granat a:link 
{
    color: #d8d8d8;
}

/*STOPKA*/
#stopka
{
	background-color: #d8d8d8;
	padding-bottom: 10px;
	padding-top: 10px;
}
 
